<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/estilos.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css" />
    <link rel="icon" href="img/logo.png">
    <title>Apis</title>  

<!--api Comentario-->
    <script>
        $(document).ready(function(){
            $("#coment").click(function(){
                $.get("https://jsonplaceholder.typicode.com/comments",function(data){
                    $.each(data,function(i,item) {
                        $("#comentario").append("<tr><td>" + item.postId + "</td><td>" + item.id +
                            "</td><td>" + item.name + "</td><td>" + item.email + "</td><td>"+ item.body + "</td></tr>" );
                    });
                });
            });
        });
    </script>
<!--api Album-->
    <script>
        $(document).ready(function(){
            $("#alb").click(function(){
                $.get("https://jsonplaceholder.typicode.com/albums",function(data){
                    $.each(data,function(i,item) {
                        $("#foto").append("<tr><td>" + item.userId + "</td><td>" + item.id + "</td><td>"+ item.title + "</td></tr>" );
                    });
                });
            });
        });
    </script>


<style>
    .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        user-select: none;
    }

    @media (min-width: 768px) {
        .bd-placeholder-img-lg {
            font-size: 3.5rem;
        }
    }
</style>    

</head>

<body>

<nav class="navbar navbar-expand-sm navbar-dark bg-dark mb-4">
    <img src="img/logo.png" alt="logo" width="30px">
        <h4>NacTour</h4>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#Opciones"
    aria-controls="Opciones" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="Opciones">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="inicio.html">INICIO</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="quienes_somos.html">QUIENES SOMOS</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="Galeria_imagenes.html">GALERIA DE IMÁGENES</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="formulario.html">CONTACTO</a>
            </li>    
        </ul>
    </div>
</nav>
<br>



<!--Album-->
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <h3>ÁLBUM</h3>
                <button id="alb" class="btn btn-outline-success">Ver Álbum de fotos</button>
            </div>
        </div>
        <br>

        <div class="row">
            <div class="col">
                <table class="table table-info" id="foto" style="text-align: center; color: black; text-transform: uppercase; font-family: monospace; font-size: 20px;" >
                    <thead>
                        <tr>
                            <div class="col-lg-2">
                                <th>User Id</th>
                            </div>
                            <div class="col-lg-2">
                                <th>ID</th>
                            </div>
                            <div class="col-lg-8">
                                <th>Title</th>
                            </div>
                        </tr>
                    </thead>
                </table>
                <a href="Api.html" class="btn btn-outline-primary">Volver</a>
            </div>
        </div>
    </div>

<!--Comentarios-->
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <h3>COMENTARIOS</h3>
                <button id="coment" class="btn btn-outline-success" >Ver Comentarios</button>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col">
                <table class="table table-info" id="comentario" style="text-align: center; color: black; text-transform: uppercase; font-family: monospace; font-size: 20px;" >
                    <thead>
                        <tr>
                            <div class="col-lg-2">
                                <th>postId</th>
                            </div>
                            <div class="col-lg-2">
                                <th>ID</th>
                            </div>
                            <div class="col-lg-3">
                                <th>Name</th>
                            </div>
                            <div class="col-lg-2">
                                <th>Email</th>
                            </div>
                            <div class="col-lg-3">
                                <th>Body</th>
                            </div>
                        </tr>
                    </thead>
                </table>
                <a href="Api.html" class="btn btn-outline-primary">Volver</a>  
            </div>
        </div>
    </div>
        

    <footer> <!--                           PIE DE PÁGINA                           -->
        <div class="row col-12">
            <div class="col-lg-2">
                <img src="img/logo.png" alt="logoBookStop" width="60px">
            </div>
            <div class="col-lg-1">
                <a href="inicio.html" id="linkFooter" style="color: rgb(196, 219, 255); font-size: 15px;"><strong>INICIO</strong></a>
            </div>
            <div class="col-lg-2">
                <a href="quienes_somos.html" id="linkFooter" style="color: rgb(196, 219, 255); font-size: 15px;"><strong>QUIENES SOMOS</strong></a>  
            </div>
            <div class="col-lg-2">
                <a href="Galeria_imagenes.html" id="linkFooter" style="color: rgb(196, 219, 255); font-size: 15px;"><strong>GALERIA DE IMAGENES</strong></a>  
            </div>
            

            <div class="col-lg-2">
                <strong>Síguenos</strong>
                <br>
                <div class="row">
                    <a href="https://www.facebook.com/profile.php?id=100083394426070&mibextid=ZbWKwL" target="_blank">
                        <img src="img/logo_facebook.jpg" alt=""  class="rounded" width="20px" height="20px" style=" margin-top: 10px;">
                    </a>
                </div>
                <div class="row">
                    <a href="https://instagram.com/pinatas_y_colores?utm_medium=copy_link" target="_blank">
                        <img src="img/logo_instagram.jpg" alt="" class="rounded" width="20px" height="20px" style=" margin-top: 10px;" >
                    </a>
                </div>
            </div>

            <div class="col-lg-3 ">
                <strong>Contacto</strong>
                <br>
                <div class="row">
                    <div class="col contactofooter">
                        <img src="img/logo_localizacion.png" alt="" width="20px" height="20px"
                        style="margin-right: 10px; margin-left: 15px; text-align: center;"><strong>Av. Los Adobes 2080, Maipú</strong>
                    </div>
                </div>
                <div class="row">
                    <div class="col contactofooter">
                        <img src="img/logo_telefono.png" alt="" width="20px" height="20px"
                        style="margin-right: 10px; margin-left: 15px; text-align: center;"><strong>(+56) 9 86915630</strong>
                    </div>
                </div>
                <div class="row">
                    <div class="col contactofooter">
                        <img src="img/logo_email.png" alt="" width="20px" height="20px"
                        style="margin-right: 10px; margin-left: 15px; text-align: center;"><strong>pinatasycolores@gmail.com</strong>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col">
                        <strong>Autores</strong>
                        <div class="row contactofooter">
                            <ul>
                                <li>Marialejandra Méndez R.</li>
                                <li>Noel Saenz L.</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <br>
                <p>&copy; Copyrigth Derechos reservados</p>
            </div>
        </div>
    </footer>


</body>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script> 
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
<script>window.jQuery || document.write('<script src="../assets/js/vendor/jquery.slim.min.js"><\/script>')</script>
<script src="js/validacion.js"></script>



</html>