<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Listado de Destinos</title>
</head>
    
<body>
           
  <table class="table table-dark table-striped ">
    <thead>
      <tr>
        <th>Destinos</th>
        <th>Valor por día</th>
        <th>Promoción</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Isla de Pascua</td>
        <td>$29.990</td>
        <td>Tour de una semana con 10% de descuento</td>
      </tr>
      <tr>
        <td>Parque Nacional Torres del Paine</td>
        <td>$26.990</td>
        <td>Tour de una semana con 9% de descuento</td>
      </tr>
      <tr>
        <td>Santiago de Chile</td>
        <td>$14.990</td>
        <td>Tour de una semana con 5% de descuento</td>
      </tr>
      <tr>
        <td>Isla Grande de Chiloé</td>
        <td>$39.990</td>
        <td>Tour de una semana con 8% de descuento</td>
      </tr>
      <tr>
        <td>Valparaíso</td>
        <td>$19.990</td>
        <td>Tour de una semana con 9% de descuento</td>
      </tr>
      <tr>
        <td>Cajón del Maipo</td>
        <td>$18.990</td>
        <td>Tour de una semana con 3% de descuento</td>
      </tr>
      <tr>
        <td>Valle del Elqui</td>
        <td>$35.990</td>
        <td>Tour de una semana con 6% de descuento</td>
      </tr>
      <tr>
        <td>San Pedro de Atacama</td>
        <td>$25.990</td>
        <td>Tour de una semana con 4% de descuento</td>
      </tr>
      <tr>
        <td>El volcán Osorno</td>
        <td>$22.990</td>
        <td>Tour de una semana con 9% de descuento</td>
      </tr>
      <tr>
        <td>Río Futaleufú</td>
        <td>$29.990</td>
        <td>Tour de una semana con 3% de descuento</td>
      </tr>
      <tr>
        <td>Valdivia</td>
        <td>$35.990</td>
        <td>Tour de una semana con 11% de descuento</td>
      </tr>
      <tr>
        <td>Pucón</td>
        <td>$26.990</td>
        <td>Tour de una semana con 9% de descuento</td>
      </tr>
      <tr>
        <td>Viña del Mar</td>
        <td>$19.990</td>
        <td>Tour de una semana con 7% de descuento</td>
      </tr>
      <tr>
        <td>Laguna San Rafael</td>
        <td>$19.990</td>
        <td>Tour de una semana con 4% de descuento</td>
      </tr>
      <tr>
        <td>Punta Arenas</td>
        <td>$28.990</td>
        <td>Tour de una semana con 5% de descuento</td>
      </tr>
    </tbody>
  </table>
</div>

     

</body>
</html>